<div class="container m-auto rounded-3 wrapper-re position-relative">
    <div class="row">
        <hr class="hr">
        <h2 class="text-center" style="padding: 1rem 0rem;">Recipe</h2>
        <hr class="hr">
        <h5 class="text-center" style="padding: 1rem 0rem;">KtriShop</h5>
        <br>
        <br>
        <div class="row mb-3">
            <div class="col-6 mb-2">
                <p>Address: </p>
            </div>
            <div class="col-6 mb-2" style="text-align: right;">
                <p>{{Address}}</p>
            </div>
            <div class="col-6 mb-2">
                <p>Manager: </p>
            </div>
            <div class="col-6 mb-2" style="text-align: right;">
                <p>{{ManagerName}}</p>
            </div>
            <div class="col-6 mb-2">
                <p>Date: </p>
            </div>
            <div class="col-6 mb-2" style="text-align: right;">
                <p>{{ myDate | date:'yyyy-MM-dd' }}</p>
            </div>
        </div>
        <br>
        <hr class="hr">
    </div>
    <div class="row d-flex justify-content-between mt-3">
        @for (item of displayProduct() ; track item.id) {
        <div class="col-6 mb-2">
            <p>{{item.ProductName}}</p>
        </div>
        <div class="col-6" style="text-align: right;">
            <p>{{item.SellPrice}} $</p>
        </div>
        }
    </div>
    <br>
    <hr class="hr">
    <div class="row row d-flex justify-content-between mt-2">
        <div class="col-6">
            <h5>Total:</h5>
        </div>
        <div class="col-6" style="text-align: right;">
            <h5 class="fw-bolder">$ {{total}}</h5>
        </div>
    </div>
    <br>
    <h3 class="text-center" style="padding: 1rem 0rem;">Thank You</h3>
    <hr class="hr">
    <br>
    <h4>{{barcode}}</h4>
    <div class="dashed-edge"></div>

</div>